@font-face {
  font-family: "MullerMedium";
  src: url("fonts/Fontfabric - MullerMedium.otf") format("opentype");
}
@font-face {
  font-family: "MullerRegular";
  src: url("fonts/Fontfabric - MullerRegular.otf") format("opentype");

}
